@charset "UTF-8";

h1 {
     color:#ca0909;
}

body {
  text-align: center;
  background: #000022;
}

.appf{
  background: #ffffff;
  width: 420px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.appft{
  background: #ffffff;
  width: 420px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

ul{
  list-style: none;
  padding: 0;
}
li{
  border-top: solid 1px #b1daff;
  padding: 2px;
  cursor: pointer;
}

li:hover{
  background: #ffefef;
}

.blinking{
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}